Source: swh-archiver
Maintainer: Software Heritage developers <swh-devel@inria.fr>
Section: python
Priority: optional
Build-Depends: debhelper (>= 9),
               dh-python (>= 2),
	       postgresql-contrib,
               python3-all,
               python3-click,
               python3-kafka,
               python3-pytest,
	       python3-pytest-postgresql,
               python3-psycopg2,
               python3-setuptools,
               python3-swh.core (>= 0.0.54),
               python3-swh.journal (>= 0.0.5),
               python3-swh.model (>= 0.0.27),
               python3-swh.objstorage (>= 0.0.27),
               python3-swh.scheduler (>= 0.0.39),
               python3-vcversioner
Standards-Version: 3.9.6
Homepage: https://forge.softwareheritage.org/source/swh-archiver/

Package: python3-swh.archiver
Architecture: all
Depends: python3-swh.core (>= 0.0.54),
         python3-swh.journal (>= 0.0.5),
         python3-swh.model (>= 0.0.27),
         python3-swh.objstorage (>= 0.0.27),
         python3-swh.scheduler (>= 0.0.39)
	 ${misc:Depends}, ${python3:Depends}
Description: Software Heritage Archiver
